Json.json
{
  "name": "Giám sát",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Canh-Bao-Attack",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "83e15bd6-0e1f-45af-a132-d6e420147700",
      "name": "Webhook",
      "webhookId": "6d293d70-ad47-4895-bdc4-434e46461666"
    },
    {
      "parameters": {
        "chatId": "7905655986",
        "text": "Cảnh báo hành động tấn công",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "78781fe1-6a9c-44ca-9feb-adaf54d46026",
      "name": "Send a text message",
      "webhookId": "6aa9b04b-82ee-4032-a56f-ffd0c02c22d3",
      "credentials": {
        "telegramApi": {
          "id": "1v5IIkYHAJr8m55T",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -432,
        384
      ],
      "id": "5943342b-46ce-4d8f-9d86-1b153b01d42b",
      "name": "Telegram Trigger",
      "webhookId": "7c182ab3-149b-4263-9f62-d778f928cd11",
      "credentials": {
        "telegramApi": {
          "id": "1v5IIkYHAJr8m55T",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "61c64806-8bfd-425d-96ad-818e9a4dc1da",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        384
      ],
      "id": "3113cd9d-0244-4862-b4ce-e48f4685c995",
      "name": "If"
    },
    {
      "parameters": {
        "url": "http://localhost:8080",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        368
      ],
      "id": "316ff604-b8b2-4988-9221-004f7a64c7e4",
      "name": "HTTP Request",
      "onError": "continueErrorOutput",
      "notes": "200 ,403"
    },
    {
      "parameters": {
        "chatId": "7905655986",
        "text": "🟢: [HEALTHY] Trạng thái OK! Hệ thống Nginx đang chạy mượt mà",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        288,
        288
      ],
      "id": "bff7ff85-11f7-48df-acb4-b4c768777b58",
      "name": "Send a text message1",
      "webhookId": "e186089e-c508-4f54-9e35-f6e7c93413f0",
      "credentials": {
        "telegramApi": {
          "id": "1v5IIkYHAJr8m55T",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7905655986",
        "text": "🔴: [BÁO ĐỘNG KHẨN] Nginx không phản hồi (Mất kết nối)!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        448
      ],
      "id": "c67833df-579a-40fd-b437-cf5780ce03f1",
      "name": "Send a text message2",
      "webhookId": "5337cd85-c317-4b79-ac99-4866ffa43402",
      "credentials": {
        "telegramApi": {
          "id": "1v5IIkYHAJr8m55T",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "aa1662c3-d874-4831-a2a6-eb1174e06aa8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b9509091b346f0e6a2042b78a904061f5b7cb5d54e6bb7a7e9d13477cf9793e"
  },
  "id": "m0YQdwz8jn17Icu8",
  "tags": []
}